{% extends "base.html" %}

{% macro auth_field(field) %}
    <div class="form-group row">
        <label for="{{ field.name }}" class="col-4 col-form-label">{{ field.label.text }}</label>
        <div class="col-8">
            {{ field(class_='form-control', **kwargs)|safe }}
            {% for error in field.errors %}
                <div class="alert alert-danger mt-2">{{ error }}</div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form method="post">
        <div class="row">
            <div class="col-6">
                {{ auth_field(form.email) }}
                {{ auth_field(form.password) }}
                <div class="form-group row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                </div>
                {{ form.hidden_tag() }}
            </div>
        </div>
    </form>
{% endblock %}
