{% extends "base.html" %}

{% block title %}All Models{% endblock %}

{% block content %}
    <h1>
        Models
        <a class="btn btn-primary ml-5" href="/models/add" role="button">Add model</a>
    </h1>
    {% if models %}
        {% for model in models %}
            <div class="card shadow my-5">
                <div class="card-header">
                    <h1>{{ model.model_name_user }}</h1>
                    <dl>
                        <p>System name: <strong>{{ model.model_system_name }}</strong></p>
                        <p>Author: <strong>{{ model.author }}</strong></p>
                    </dl>
                </div>
                <div class="card-body">
                    <h2>Inputs</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">System name</th>
                            <th scope="col">Source type</th>
                            <th scope="col">Source author</th>
                            <th scope="col">Source series name</th>
                            <th scope="col">Source model name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in model.inputs.items() %}
                            <tr>
                                <th scope="row">{{ value.series_id }}</th>
                                <td>{{ value.series_name_user }}</td>
                                <td>{{ value.series_name_system }}</td>
                                <td>{{ value.source.source_type }}</td>
                                <td>{{ value.source.source_author }}</td>
                                <td>{{ value.source.source_series_name_system }}</td>
                                <td>{{ value.source.source_model_name_user }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <h2>Outputs</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">User name</th>
                            <th scope="col">System name</th>
                            <th scope="col">Series type</th>
                            <th scope="col">Series id</th>
                            <th scope="col">Source</th>
                            <th scope="col">Comment</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in model.outputs.items() %}
                            <tr>
                                <th scope="row">{{ value.series_id }}</th>
                                <td>{{ value.series_name_user }}</td>
                                <td>{{ value.series_name_system }}</td>
                                <td>{{ value.series_type }}</td>
                                <td>{{ value.series_id }}</td>
                                <td>{{ value.source }}</td>
                                <td>{{ value.comment }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>No models</h1>
    {% endif %}
{% endblock %}
