{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_render_field.html" import render_field %}

{% block title %}
    Run modeling
{% endblock %}

{% block head %}
    {{ super() }}
    <script>
        {#var state = {{ state|tojson }};#}
        {#$.ajax({#}
        {#    type: 'POST',#}
        {#    contentType: 'application/json',#}
        {#    url: '/form',#}
        {#    dataType: 'json',#}
        {#    data: JSON.stringify(state),#}
        {#    success: function (result) {#}
        {#        $("#form").append(result.html);#}
        {#    },#}
        {#    error: function (result) {#}
        {#        console.log('error', result);#}
        {#    }#}
        {# });#}
    </script>
{% endblock %}

{% block content %}
    <h1>Run modeling</h1>
    <form method="post" action="/run" class="mt-5">
        {{ render_field(form.start_day) }}
        {{ render_field(form.number_of_days) }}
        {{ render_field(form.exe_models) }}

        {{ wtf.form_errors(form, hiddens="only") }}

        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
        {{ form.hidden_tag() }}
    </form>
{% endblock %}