{% extends "base.html" %}
{% from "_render_form.html" import render_form %}

{% block title %}
    Run modeling
{% endblock %}

{% block head %}
    {{ super() }}
    <script>
        var defaultCommands = [
            {
                "command": "start_day",
                "start_day": "2018-01-02"
            },
            {
                "command": "number_of_days",
                "number_of_days": 3
            },
            {
                "command": "exe_models",
                "include": [
                    "model_0",
                    "model_1"
                ]
            }
        ];

        function initForm() {
            var data = {commands: defaultCommands};
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/run/form/init",
                data: JSON.stringify(data),
                success: function (html) {
                    $(".form-wrap").empty().html(html)
                },
                error: function (error) {
                    console.error(error)
                }
            })
        }

        function updateForm(url) {
            var data = $("form").serialize();
            $.post({
                url: url,
                data: data,
                success: function (html) {
                    $(".form-wrap").empty().html(html)
                },
                error: function (error) {
                    console.error(error)
                }
            })
        }

        $(function () {
            initForm();

            $("body").on("click", "button[data-command=add]", function (e) {
                var field = $(e.target).data("field");
                updateForm("/run/form/add/" + field)
            });
            $("body").on("click", "button[data-command=remove]", function (e) {
                var field = $(e.target).data("field");
                updateForm("/run/form/remove/" + field)
            });
            $("body").on("submit", "form", function (e) {
                updateForm("/run/form/submit");
                e.preventDefault()
            });
        })
    </script>
{% endblock %}

{% block content %}
    <h1>Run modeling</h1>
    <div class="form-wrap">
    </div>
{% endblock %}